numba
numpy
matplotlib
matplotlib-inline
matplotlib-venn
opencv-python
palettable
pandas
psutil
pydot
scikit-learn
scikit-image
sklearn-pandas
tqdm
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator

autopep8
termcolor
# SciencePlots==1.0.9

Pillow
tensorflow
tensorflow-addons
librosa
seaborn
statsmodels
pyvis
